page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top: -20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif, monospace;

  padding: 20px;
}

page[size="A4"] {
  width: 21.6cm;
  height: 27.9cm;
}

.print-area {
  margin-top: -15vh;
  width: 100%;
}

@media print {
  body {
    font-family: monospace;
  }

  .print-area {
    width: 100%;
  }

  page {
    box-shadow: none;
  }

  .btn button {
    display: hidden;
  }


}

.heading img {
  margin-left: 50px;
  margin-top: 25px;
  width: 110px;
  height: 110px;
  position: absolute;
}

.heading p {
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  text-align: right;
  margin-right: 50px;
  letter-spacing: 1px;
}

.sup-info {
  margin-top: 180px;
}

.sup-info table {
  margin-top: 180px;
  /* border: 1px solid black; */
  width: 62%;
}

.tab-title {
  letter-spacing: 2px;
}

.po-info {
  float: right;
}

.po-info table {
  margin-top: -160px;
  margin-right: 50px;
  /* border: 1px solid black; */
}

.item-order table {
  border: 1px solid lightgrey;
  width: 100%;
  border-collapse: collapse;
}

.item-order th {
  font-size: 15px;
  text-align: left;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 3px;
}

.item-order td {
  padding: 5px;
  font-size: 12px;
  border-left: 1px solid gray;
}

.subtot {
  padding: 5px;
  float: right;
  border: 1px dotted gray;
}

.subtot td {
  padding: 5px;
}

.totDivGrand {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer {
  margin-top: 25vh;
  background-color: none;
  color: black;
  width: 50%;
  height: 5%;
}

.emptab {
  margin-left: 85px;
  width: 77%;
}

.emptab td {
  padding: 5px;
}

.remarks {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}