.container--add__user {
  text-align: center;
  width: 300px;
  margin: 100px auto;
}

.container--add__user input {
  height: 30px;
  margin: 5px;
  padding: 5px;
}

#levels {
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #70a1ff;
}